DeploymentManager GUI/Connected Services/DeploymentManagerServiceReference/DeploymentService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeploymentManagerWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeploymentManagerWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.58.40.18:81/DeploymentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:import schemaLocation="http://10.58.40.18:81/DeploymentService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DeploymentDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" minOccurs="0" name="BackGroundWorker" nillable="true" type="q1:BackgroundWorker" />
      <xs:element minOccurs="0" name="BackupPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeploymentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeploymentStagingPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnvironmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivaSQLPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovementLifecyclePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NonSQLOutputPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostBuildOutputPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgressLabelText" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RootSQLDirectories" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="RootSQLPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SQLComparePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SQLOutputPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SQLServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerSourcePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourcePath" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TargetAppServers" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TargetRAMQServers" nillable="true" type="q4:ArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TargetSMServers" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="VirtualEnvironmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeploymentDTO" nillable="true" type="tns:DeploymentDTO" />
</xs:schema>