DeploymentManager GUI/Connected Services/DeploymentManagerServiceReference/DeploymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.58.40.18:81/DeploymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeploymentManagerWCFService" />
  <xs:element name="Deploy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeploymentManagerWCFService" minOccurs="0" name="deploymentDTO" nillable="true" type="q1:DeploymentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeployResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>